@model ProjectPool.Models.ProjectListModel

@{
    @using Microsoft.AspNetCore.Http
    Layout = null;
    bool isLoggedIn = true;
    //string name = @Context.Session.GetString("name");
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <!-- CSS -->
    @*<link rel="stylesheet" href="~/css/NavRegister.css">*@
    <link rel="stylesheet" href="~/css/NavProfile.css">
    <link rel="stylesheet" href="~/css/ProjectList.css">

    <!-- Script -->
    <script src="~/script/toggleProfile.js"></script>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>


</head>
<body>
    <!-- Nav bar -->
    <header>
        <nav>
            <p>ProjectPooL.</p>
            <ul class="nav-title">
                <li><a href="Overview">Overview</a></li>
                <li><a href="ProjectList">Projects</a></li>
                <li><a href="ContractorList">Contractor</a></li>
            </ul>


            @{
                if (isLoggedIn)
                {
                    <!-- profile name -->
                    <div class="profile-img" onclick="toggleProfile()">
                        @*<img src="~/image/white-bg.jpg">*@
                        <p>@User.Identity.Name</p>
                    </div>

                    <div class="sub-menu-wrap" id="subProfile">
                        <div class="sub-menu">

                            <a href="Dashboard" class="sub-menu-link">
                                <p>Dashboard</p>
                                <span>></span>
                            </a>
                            <a href="#" class="sub-menu-link">
                                <p>Profile</p>
                                <span>></span>
                            </a>
                            <hr>
                            <a href="#" class="sub-menu-link">
                                <p>Sign Out</p>
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="account">
                        <a asp-action="Login" asp-controller="Account"><span>Log In</span></a>
                        <a class="cta" href="ChooseUser"><button>Sign Up now</button></a>
                    </div>
                }

            }
        </nav>
    </header>

    <div class="header">
        <h1 class="header-title">
            Search for projects. <br>
            Collaborate with Employees!
        </h1>
    </div>

    <!-- search -->
    <div class="search-wrapper">
        <div class="search-box">
            <div class="search-card">
                <input class="search-input" type="text" placeholder="Search...">
                <button class="search-button">Search</button>
            </div>
        </div>
    </div>
    <!-- filter -->
    <div class="filter-wrapper">
        <div class="filter-dropdown">
            @{
                List<SelectListItem> CatlistItems = new List<SelectListItem>();
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Programming & Tech",
                    Value = "1"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Graphic & Design",
                    Value = "2"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Sales & Marketing",
                    Value = "3"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Video & Animation",
                    Value = "4"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Writing & Translation",
                    Value = "5"
                });
            }

            @Html.DropDownListFor(model => model.Category, CatlistItems, "-- Filter Category --", new { @id = "category", @class = "filter-select" })

            <select class="filter-select" name="category" id="category">
                <option value="1">Category</option>
                <option value="2">Web & Programming</option>
                <option value="3">Graphic & Design</option>
                <option value="4">Business</option>
            </select>

        </div>
    </div>
    <section class="project-list" id="projects">
        @for (var i = 0; i < 10; i++)
        {
            <div class="project-card">
                <div class="project-name">
                    <div class="project-detail">
                        @Html.HiddenFor(model => model.ProjectID)
                        <h4>@*@Model.Title*@</h4>
                        <p>
                            @*@Model.Description*@
                        </p>
                        <div class="project-label">
                            <a class="label" href="">@*@Model.Category*@</a>
                            <a class="label" href="">@*@Model.SubCategory*@</a>
                        </div>
                    </div>
                </div>

                <div class="project-right">
                    <div>@*RM&nbsp;@Model.Cost*@</div>
                    <button class="apply-project" onclick="location.href='@Url.Action("ProjectDetail", "Project")'">Apply</button>
                    <div>@*@Model.TotalBid&nbsp;Applied*@</div>
                    <div class="project-posted">@*@Model.PostedAgo*@</div>
                </div>
            </div>

        }
    </section>
</body>
</html>