@*@model ProjectPool.Models.ProjectListModel*@

@{
    ViewData["Title"] = "Search for Projects";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <!-- CSS -->
    @*<link rel="stylesheet" href="~/css/NavRegister.css">*@
    <link rel="stylesheet" href="~/css/NavProfile.css">
    <link rel="stylesheet" href="~/css/ProjectList.css">

    <!-- Script -->
    <script src="~/script/toggleProfile.js"></script>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>

    @*<script>
        $(document).ready(function () {
            var $desc = $(".project-detail p");
            var str = $(".project-detail p").text();
            var html = $.parseHTML(str);
            $desc.append(html);
        })
    </script>*@

</head>
<body>
    <!-- Nav bar -->

    <div class="header">
        <h1 class="header-title">
            Search for projects. <br>
            Collaborate with Employees!
        </h1>
    </div>

    <!-- search -->
    <div class="search-wrapper">
        <div class="search-box">
            <div class="search-card">
                <input class="search-input" type="text" placeholder="Search...">
                <button class="search-button">Search</button>
            </div>
        </div>
    </div>
    <!-- filter -->
    <div class="filter-wrapper">
        <div class="filter-dropdown">
            @{
                List<SelectListItem> CatlistItems = new List<SelectListItem>();
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Programming & Tech",
                    Value = "1"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Graphic & Design",
                    Value = "2"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Sales & Marketing",
                    Value = "3"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Video & Animation",
                    Value = "4"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Writing & Translation",
                    Value = "5"
                });
            }

            @*@Html.DropDownListFor(model => model.CategoryID, CatlistItems, "-- Filter Category --", new { @id = "category", @class = "filter-select" })*@

            <select class="filter-select" name="category" id="category">
                <option value="1">Category</option>
                <option value="2">Web & Programming</option>
                <option value="3">Graphic & Design</option>
                <option value="4">Business</option>
            </select>

        </div>
    </div>
    <section class="project-list" id="projects">
        <form asp-controller="Project" asp-action="ProjectDetail">
            @foreach (var Data in Model)
            {
                <div class="project-card">
                    <div class="project-name">
                        <div class="project-detail">
                            @*@Html.HiddenFor(model => model.ProjectID)*@
                            <h4>@Data.Title</h4>
                            <div class="desc-content">
                                @Html.Raw(Data.Description)
                            </div>
                            <div class="project-label">
                                @if (Data.CategoryName != "")
                                {
                                    <a class="label" href="">@Data.CategoryName</a>
                                }
                                @if (Data.SubCategoryName != "")
                                {
                                    <a class="label" href="">@Data.SubCategoryName</a>
                                }

                            </div>
                        </div>
                    </div>

                    <div class="project-right">
                        <div>RM&nbsp;@Data.Cost</div>
                        @*<div class="apply-project">*@
                            @Html.ActionLink("View Details", "ProjectDetail", new { id = Data.ProjectID }, new { @class = "apply-project" })
                        @*</div>*@
                        
                        @*<button class="apply-project" asp-controller="Project" asp-action="ProjectDetail" id="@Data.ProjectID">Apply</button>*@
                        <div>@Data.TotalBid&nbsp;Applied</div>
                        <div class="project-posted">@Data.PostedAgo</div>
                    </div>
                </div>
            }
        </form>
        



    </section>

    
</body>
</html>