@*@model ProjectPool.Models.ProjectListModel*@

@{
    ViewData["Title"] = "Search for Projects";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <!-- CSS -->
    @*<link rel="stylesheet" href="~/css/NavRegister.css">*@
    <link rel="stylesheet" href="~/css/NavProfile.css">
    <link rel="stylesheet" href="~/css/ProjectList.css">

    <!-- Script -->
    <script src="~/script/toggleProfile.js"></script>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>

    <style>
        

    </style>

    <script>
        $(document).ready(function () {
            //$("#search").on("keyup", function () {
            //    var value = $(this).val().toLowerCase();
            //    $(".project-card").filter(function () {
            //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            //    });
            //});

            //$("#category").change(function () {
            //    $("#category").find(":selected").attr("selected", "selected");
            //    var value = $("#category option:selected").text().toLowerCase();
            //    $(".project-card").filter(function () {
            //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1); 
            //    });             
            //});

        });
    </script>

</head>
<body>
    <!-- Nav bar -->

    <div class="header">
        <h1 class="header-title">
            Search for projects. <br>
            Collaborate with Employees!
        </h1>
    </div>

    <!-- search -->
    @using (Html.BeginForm("ProjectList", "Project", FormMethod.Get))
    {
        <div class="search-wrapper">
            <div class="search-box">
                <div class="search-card">
                    @Html.TextBox("searchInput", null, new { @id = "search", @class = "search-input", @placeholder = "Search..." })
                    @Html.Hidden("val", "1")
                    @Html.Hidden("ddval", "", new { @class = "hiddenddval" })

                    @*<input class="search-input" id="search" type="text" name="SearchInput" placeholder="Search...">*@
                    <button class="search-button" type="submit">Search</button>
                </div>
            </div>
        </div>
    }
    <!-- filter -->
    <div class="filter-wrapper">
        <div class="filter-dropdown">
            @*@{
                List<SelectListItem> CatlistItems = new List<SelectListItem>();
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Programming & Tech",
                    Value = "1"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Graphic & Design",
                    Value = "2"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Sales & Marketing",
                    Value = "3"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Video & Animation",
                    Value = "4"
                });
                CatlistItems.Add(new SelectListItem
                {
                    Text = "Writing & Translation",
                    Value = "5"
                });
            }

            @Html.DropDownListFor(null, CatlistItems, "-- Filter Category --", new { @id = "category", @class = "filter-select" })*@

            <select class="filter-select" name="category" id="category">
                <option value="0" selected>Filter by Category</option>
                <option value="1">Programming & Tech</option>
                <option value="2">Graphic & Design</option>
                <option value="3">Sales & Marketing</option>
                <option value="4">Video & Animation</option>
                <option value="5">Writing & Translation</option>
            </select>
         


            <p class="p-total">Total Result(s): <span class="numberResult"></span></p>
        </div>
    </div>
    <section class="project-list" id="projects">
        
        <form asp-controller="Project" asp-action="ProjectDetail">
            @if (Model.Count > 0)
            {
                foreach (var Data in Model)
                {
                    <div class="project-card" style="display:none">
                        <div class="project-name">
                            <div class="project-detail">
                                @*@Html.HiddenFor(model => model.ProjectID)*@
                                <h4>@Data.Title</h4>
                                <div class="desc-content">
                                    @Data.Description
                                </div>
                                <div class="project-label">
                                    @if (Data.CategoryName != "")
                                    {
                                        <a class="label" href="">@Data.CategoryName</a>
                                    }
                                    @if (Data.SubCategoryName != "")
                                    {
                                        <a class="label" href="">@Data.SubCategoryName</a>
                                    }
                                    @if (Data.Skills != "")
                                    {
                                        <a class="label" href="">@Data.Skills</a>
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="project-right">
                            <div style="color:indianred">@Data.TotalBid&nbsp;Applied</div>
                            @*<div class="apply-project">*@
                            @Html.ActionLink("View Details", "ProjectDetail", new { id = Data.ProjectID }, new { @class = "apply-project" })
                            @*</div>*@

                            @*<button class="apply-project" asp-controller="Project" asp-action="ProjectDetail" id="@Data.ProjectID">Apply</button>*@
                            <div>RM&nbsp;@Data.Cost</div>
                            <div class="project-posted">@Data.PostedAgo</div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="no-result">
                    <img src="~/image/search-not-found.jpg" width="300" height="200" />
                    <p>We couldn't find any projects matching your search</p>
                </div>
            }

        </form>

    </section>

    <div class="pagination">
        @*<ol>
            <li class="page-item previous-page disabled"><a disabled class="page-link" href="#">Prev</a></li>
            <li class="page-item current-page active"><a class="page-link" href="#">1</a></li>
            <li class="page-item dots"><a class="page-link" href="#">...</a></li>
            <li class="page-item current-page"><a class="page-link" href="#">5</a></li>
            <li class="page-item current-page"><a class="page-link" href="#">6</a></li>
            <li class="page-item current-page"><a class="page-link" href="#">10</a></li>
            <li class="page-item next-page"><a class="page-link" href="#">Next</a></li>
        </ol>*@
        
    </div>

    <script>
        function getPageList(totalPages, page, maxLength) {

            function range(start, end) {
                return Array.from(Array(end - start + 1), (_, i) => i + start);
            }

            var sideWidth = maxLength < 9 ? 1 : 2;
            var leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
            var rightWidth = (maxLength - sideWidth * 2 - 3) >> 1;

            if (totalPages <= maxLength) {
                return range(1, totalPages);
            }

            if (page <= maxLength - sideWidth - 1 - rightWidth) {
                return range(1, maxLength = sideWidth - 1).concat(0, range(totalPages - sideWidth + 1, totalPages));
            }

            if (page >= totalPages - sideWidth - 1 - rightWidth) {
                return range(1, sideWidth).concat(0, range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages));
            }

            return range(1, sideWidth).concat(0, range(page - leftWidth, page + rightWidth), 0, range(totalPages - sideWidth + 1, totalPages));
        }

        $(function () {
            var numberOfItems = $(".project-card").length;
            var limitPerPage = 8; //card visible per page
            var totalPages = Math.ceil(numberOfItems / limitPerPage);
            var paginationSize = 7; //no of page element visible
            var currentPage;
            $(".numberResult").html(numberOfItems);

            function showPage(whichPage) {
                if (whichPage < 1 || whichPage > totalPages) return false;

                currentPage = whichPage;

                $(".project-card").hide().slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show();

                $(".pagination li").slice(1, -1).remove();

                getPageList(totalPages, currentPage, paginationSize).forEach(item => {
                    $("<li>").addClass("page-item").addClass(item ? "current-page" : "dots")
                        .toggleClass("active", item === currentPage).append($("<a>").addClass("page-link")
                            .attr({ href: "javascript:void(0)" }).text(item || "...")).insertBefore(".next-page")
                });

                $(".previous-page").toggleClass("disabled", currentPage === 1);
                $(".next-page").toggleClass("disabled", currentPage === totalPages);

                return true;
            }

            if (numberOfItems > 0) {
                $(".pagination").append(
                    $("<li>").addClass("page-item").addClass("previous-page").append($("<a>").addClass("page-link").attr({ href: "javascript:void(0)" }).text("Prev")),
                    $("<li>").addClass("page-item").addClass("next-page").append($("<a>").addClass("page-link").attr({ href: "javascript:void(0)" }).text("Next"))
                );
            }
            

            $(".project-card").show();
            showPage(1);

            $(document).on("click", ".pagination li.current-page:not(.active)", function () {
                $("html, body").animate({ scrollTop: 400 }, 300); //back to top
                return showPage(+$(this).text());
            });

            $(".next-page").on("click", function () {
                $("html, body").animate({ scrollTop: 400 }, 300); //back to top
                return showPage(currentPage + 1);        
            });

            $(".previous-page").on("click", function () {
                $("html, body").animate({ scrollTop: 400 }, 300); //back to top
                return showPage(currentPage - 1);
            });

            //$("#search").on("keyup", function () {
            //    var value = $(this).val().toLowerCase();
            //    $(".project-card").filter(function () {
            //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            //    });
            //});

            $("#category").click(function (e) {
                //e.preventDefault();
                $('#category option[selected]').removeAttr("selected");
                $("#category").find(":selected").attr("selected", "selected");
                var value = $("#category option:selected").val();
                console.log(value);
                $(".search-card .hiddenddval").val(value);
                //$('#category option[selected]').removeAttr("selected");
                return false;
                
            });

            $(".search-button").click(function () {
                //e.preventDefault();
                var value = $("#category option:selected").val();
                console.log(value);
                $(".search-card .hiddenddval").val(value);
                //$('#category option[selected]').removeAttr("selected");

            });

        });
    </script>
    
</body>
</html>