@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Manage Project | ProjectPooL.";
    string[] TableHeaders = new string[] {"#"
               ,"Project Title"
               ,"Category"
               ,"Total bids"
               ,"Cost (RM)"
               ,"Actions"};

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Jquery -->
    <!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
    <!-- CSS -->
    @*<link rel="stylesheet" href="~/css/NavProfile.css">*@
    <link rel="stylesheet" href="~/css/EmpManageProject.css">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    

</head>
<body>

    <div class="content">
        <div class="TempMsg" style="margin: 0 1rem; font-size: 1.2rem;">
            <p class="Msg" style="color:green">@TempData["SuccessMsg"]</p>
            <p class="Msg" style="color:red">@TempData["ErrorMsg"]</p>
        </div>


        <div class="text-black font-weight-bold manage-project">Manage Project</div>
        <div class="tab">
            <div class="btn-box">
                <button class="active" onclick="location.href='@Url.Action("EmpActive", "EmployerDashboard")'">Active</button>
                <button onclick="location.href='@Url.Action("EmpRunning", "EmployerDashboard")'">Running</button>
                <button onclick="location.href='@Url.Action("EmpApplication", "EmployerDashboard")'">Applications</button>
                <button onclick="location.href='@Url.Action("EmpInterview", "EmployerDashboard" )'">Interview</button>
                <button>Closed</button>
            </div>
            <div class="btn-project">
                <a asp-controller="Project" asp-action="CreateProject"><button>Create Project Post</button></a>
            </div>
        </div>

        <hr>

        <div class="outer-wrapper">
            <div class="table-wrapper">
                <table class="table display cell-border hover" id="datatable">
                    <thead>
                        <tr>
                            @{
                                foreach (var item in TableHeaders)
                                {
                                    <th>
                                        @item
                                    </th>
                                }
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (var Data in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@Data.Title</td>
                                        <td>@Data.Category</td>
                                        <td>@Data.TotalBid</td>
                                        <td>@Data.Cost</td>
                                        <td>
                                            <a href='@Url.Action("ViewActiveProject","EmployerDashboard", new { id = Data.ProjectID })' type="button" class="btn btn-view">
                                                <i class="fa-solid fa-eye"></i>
                                                @*@Html.ActionLink("Edit", "EditActiveProject1", new { id = Data.ProjectID })*@
                                            </a>
                                            <a href="@Url.Action("EditActiveProject","EmployerDashboard", new { id = Data.ProjectID })" type="button" class="btn btn-edit">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <a href="#" type="button" class="btn btn-delete" data-id="@Data.ProjectID" data-modal="modal-delete">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                            @*<a href="#" type="button" class="btn btn-tick" data-id="@Data.ProjectID" data-modal="modal-running">
                                                <i class="fa-solid fa-square-check"></i>
                                            </a>*@
                                        </td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Delete Modal -->
    <div id="modal-delete" class="modal">
        <div class="modal-content">
            <div class="project">
                <a class="close">&times;</a>
                <form asp-action="DeleteActiveProject">
                    <h2>Delete Project</h2>
                    <div class="project-content-delete">
                        <p>
                            Are you sure you want to delete this project?
                            <br>
                            <strong>* This action cannot be undone.</strong>
                        </p>

                        @Html.Hidden("id", "", new { @class = "hiddenid" })

                    </div>

                    <div class="project-button">
                        <button id="btn-confirm" type="submit">Confirm</button>
                        <button type="submit" class="close">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Set Running State Modal -->
    <div id="modal-running" class="modal">
        <div class="modal-content">
            <div class="project">
                <a class="close">&times;</a>
                <form asp-action="SetRunningState">
                    <h2>Set Project to Running State</h2>
                    <div class="project-content-running">
                        <p>
                            Are you sure you want to set this project to <strong>Running State</strong>?
                            <br>
                            <strong>* This action cannot be undone.</strong>
                        </p>

                        @Html.Hidden("id", "", new { @class = "hiddenid" })

                    </div>

                    <div class="project-button">
                        <button id="btn-confirm" type="submit">Confirm</button>
                        <button type="submit" href="/resources/views/admin/orders.html">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {

            $("#datatable").DataTable();

            $(".Msg").fadeTo(2000, 500).slideUp(500, function () {
                $(".Msg").slideUp(500);
            });

            $(".btn-delete").on("click", function () {
                var passedID = $(this).data('id');
                console.log(passedID);
                $(".project-content-delete .hiddenid").val(passedID);
            });

            $(".btn-tick").on("click", function () {
                var passedID = $(this).data('id');
                console.log(passedID);
                $(".project-content-running .hiddenid").val(passedID);
            });
        });

        let modalRunning = [...document.querySelectorAll(".btn-tick")];
        modalRunning.forEach(function (btn) {
            btn.onclick = function () {
                let modal = btn.getAttribute("data-modal");
                document.getElementById(modal).style.display = "block";
            };
        });

        let modalDelete = [...document.querySelectorAll(".btn-delete")];
        modalDelete.forEach(function (btn) {
            btn.onclick = function () {
                let modal = btn.getAttribute("data-modal");
                document.getElementById(modal).style.display = "block";
            };
        });

        let closeBtns = [...document.querySelectorAll(".close")];
        closeBtns.forEach(function (btn) {
            btn.onclick = function () {
                let modal = btn.closest(".modal");
                modal.style.display = "none";
            };
        });
        window.onclick = function (event) {
            if (event.target.className === "modal") {
                event.target.style.display = "none";
            }
        };

    </script>
</body>
</html>