@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Project | ProjectPooL.";
    string[] TableHeaders = new string[] {"#"
               ,"Project Title"
               ,"Cost"
               ,"Status"
               ,"Contractor Assigned"
               ,"Completion Rate"
               ,"Total Payment"
               ,"Payment Date"};
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Jquery -->
    @*<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>*@
    <!-- CSS -->
    @*<link rel="stylesheet" href="~/css/NavProfile.css">*@
    <link rel="stylesheet" href="~/css/EmpManageProject.css">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>

    @*<style>
        .btns {
            display: flex;
            justify-content: center;
        }

        .btn-modal {
            padding: 8px 23px;
            width: 40%;
            background-color: steelblue !important;
            border: none;
            cursor: pointer;
            border-radius: 3px;
        }

        #btn-confirm, #btn-decline {
            margin-right: 20px;
        }

        #btn-close {
            background-color: indianred !important;
        }

        .btn-modal:hover {
            opacity: 80%;
        }
    </style>*@

</head>
<body>

    <div class="content">
        <div class="TempMsg" style="margin: 0 1rem; font-size: 1.2rem;">
            <p class="Msg" style="color:green">@TempData["SuccessMsg"]</p>
            <p class="Msg" style="color:red">@TempData["ErrorMsg"]</p>
        </div>


        <div class="text-black font-weight-bold manage-project">Manage Project</div>
        <div class="tab">
            <div class="btn-box">
                <button onclick="location.href='@Url.Action("EmpActive", "EmployerDashboard")'">Active</button>
                <button onclick="location.href='@Url.Action("EmpRunning", "EmployerDashboard")'">Running</button>
                <button onclick="location.href='@Url.Action("EmpApplication", "EmployerDashboard")'">Applications</button>
                <button onclick="location.href='@Url.Action("EmpInterview", "EmployerDashboard" )'">Interview</button>
                <button class="active" onclick="location.href='@Url.Action("EmpClosed", "EmployerDashboard" )'">Closed</button>
            </div>
            <div class="btn-project">
                <a asp-controller="Project" asp-action="CreateProject"><button>Create Project Post</button></a>
            </div>
        </div>

        <hr>

        <div class="outer-wrapper">
            <div class="table-wrapper">
                <table class="table display cell-border hover" id="datatable" style="width:100%">
                    <thead>
                        <tr>
                            @{
                                foreach (var item in TableHeaders)
                                {
                                    <th>
                                        @item
                                    </th>
                                }
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (var Data in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@Data.Title</td>
                                        <td>@Data.Cost</td>
                                        <td>@Data.Status</td>
                                        <td>@Data.FullName</td>
                                        <td>@Data.CompletionRate</td>
                                        <td>@Data.Amount</td>
                                        <td>@Data.PaymentDate</td>
                                        
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

    <script>
        $(document).ready(function () {

            $('#datatable').DataTable({
                scrollX: true,
                order: [[3, 'desc']],
                //columnDefs: [{ targets: [7], class: "nowrap" }]
            });


            $(".Msg").fadeTo(2000, 500).slideUp(500, function () {
                $(".Msg").slideUp(500);
            });

            
        });


    </script>
</body>
</html>