@*@model ProjectPool.Models.CreateProjectModel*@

@{
    ViewData["Title"] = "Manage Project";
    string[] TableHeaders = new string[] {"#"
               ,"Project Title"
               ,"Contractor Full Name"
               ,"Sub Category"
               ,"Cost (RM)"
               ,"Progress"
               ,"Actions"};

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Datatable -->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">-->
    <!-- CSS -->
    @*<link rel="stylesheet" href="~/css/NavProfile.css">*@
    <link rel="stylesheet" href="~/css/EmpManageProject.css">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    
    

</head>
<body>

    <div class="content">
        <div class="text-black font-weight-bold manage-project">Manage Project</div>
        <div class="tab">
            <div class="btn-box">
                <button onclick="location.href='@Url.Action("EmpActive", "EmployerDashboard" )'">Active</button>
                <button class="active" onclick="location.href='@Url.Action("EmpRunning", "EmployerDashboard")'">Running</button>
                <button onclick="location.href='@Url.Action("EmpApplication", "EmployerDashboard")'">Applications</button>
                <button onclick="location.href='@Url.Action("EmpInterview", "EmployerDashboard" )'">Interview</button>
                <button onclick="location.href='@Url.Action("EmpClosed", "EmployerDashboard" )'">Closed</button>
            </div>
            <div>
                <a class="btn-project" asp-controller="Project" asp-action="CreateProject"><button>Create Project Post</button></a>
            </div>
        </div>

        <hr>

        @*<form asp-action="EmpRunning" method="get">
            <div class="page">
                <div class="field">
                    <select name="projectid" class="category" id="ProjectID" asp-items="@(new SelectList(@ViewBag.itemlist, "Value", "Text"))"></select>

                </div>

            </div>
        </form>*@


        <div class="outer-wrapper">
            <div class="table-wrapper">
                <table class="table display cell-border hover" id="datatable">
                    <thead>
                        <tr>
                            @{
                                foreach (var item in TableHeaders)
                                {
                                    <th>
                                        @item
                                    </th>
                                }
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (var Data in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@Data.Title</td>
                                        <td>@Data.FullName</td>
                                        <td>@Data.SubCategory</td>
                                        <td>@Data.Cost</td>
                                        <td>@Data.Progress</td>
                                        <td>
                                            @Html.ActionLink("Review", "FinalReviewProject", new { id = Data.ProjectID, conID = Data.ContractorID })
                                            @*<a type="button" class="btn btn-view" data-modal="modal-view">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <a href="" type="button" class="btn btn-edit" data-modal="modal-edit">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <a href="" type="button" class="btn btn-delete" data-modal="modal-delete">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                            <a href="" type="button" class="btn btn-tick" data-modal="modal-running">
                                                <i class="fa-solid fa-square-check"></i>
                                            </a>*@
                                        </td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>





    <!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
    @*<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>*@
    <!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>-->
    <script>

        $(document).ready(function () {
            $("#datatable").DataTable({
                scrollX: true,
                columnDefs: [{
                    targets: 5,
                    //render: $.fn.dataTable.render.percentBar('round', '#FFF', '#269ABC', '#31B0D5', '#286090', 1, 'groove')
                    render: $.fn.dataTable.render.percentBar('round', '#fff', '#FF9CAB', '#FF0033', '#FF9CAB', 0, 'solid'),
                }]
            });

        });


        



            //$("#ProjectID").change(function () {
                //var projectID = $("#ProjectID option:selected").val();
                //$("#ProjectID").val(projectID);
            //})

            //$("#ProjectID option:selected").on("click", function () {
                @*var projectid = $("#ProjectID option:selected").val();
                $("#ProjectID").val(projectid).attr("selected", "selected");

                $.ajax({
                    //type: "POST",
                    url: '@Url.Action("EmpRunning", "EmployerDashboard")',
                    //dataType: "html",
                    data: {
                        projectid: projectid

                    },
                    success: function (data) {
                        //if (data == "Success") {
                        console.log(data);
                        $("table .table").html(data);
                        alert('Your data updated');
                        //window.location.href = "/Home/Index";
                        //} else {
                        //    alert("Unsuccesful");
                        //}
                    },
                    error: function (jqXHR, textStatus) {
                        alert("Unsuccesful");
                        alert(textStatus);
                    }
                //});
                })*@
            //})


    </script>
</body>
</html>