@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Project";
    string[] TableHeaders = new string[] {"#"
               ,"Project Title"
               ,"Application Status"
               ,"Employer Name"
               ,"Applied On"
               ,"Total Applicants"};
}

    <link rel="stylesheet" href="~/css/EmpManageProject.css">
    
    

    <div class="content">
        <div class="TempMsg" style="margin: 0 1rem; font-size: 1.2rem;">
            <p class="Msg" style="color:green">@TempData["SuccessMsg"]</p>
            <p class="Msg" style="color:red">@TempData["ErrorMsg"]</p>
        </div>


        <div class="text-black font-weight-bold manage-project">Manage Project</div>
        <div class="tab">
            <div class="btn-box">
                <button onclick="location.href='@Url.Action("ConAll", "ContractorDashboard" )'">All Projects</button>
                <button onclick="location.href='@Url.Action("ConRunning", "ContractorDashboard")'">Running</button>
                <button class="active" onclick="location.href='@Url.Action("ConApplication", "ContractorDashboard")'">Applications</button>
                <button onclick="location.href='@Url.Action("ConInterview", "ContractorDashboard" )'">Interview</button>
                
            </div>

        </div>

        <hr>

        <div class="outer-wrapper">
            <div class="table-wrapper">
                <table class="table display cell-border hover" id="datatable" style="width:100%">
                    <thead>
                        <tr>
                            @{
                                foreach (var item in TableHeaders)
                                {
                                    <th>
                                        @item
                                    </th>
                                }
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (var Data in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@Data.Title</td>
                                        <td>@Data.ApplicationStatus</td>
                                        <td>@Data.Name</td>
                                        <td>@Data.AppliedOn</td>
                                        <td>@Data.TotalBid&nbsp;applicant(s)</td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Delete Modal -->
    <div id="modal-delete" class="modal">
        <div class="modal-content">
            <div class="project">
                <a class="close">&times;</a>
                <form asp-action="DeleteActiveProject">
                    <h2>Delete Project</h2>
                    <div class="project-content">
                        <p>
                            Are you sure you want to delete this project?
                            <br>
                            This action cannot be undone.
                        </p>

                        @Html.Hidden("id", "", new { @class = "hiddenid" })

                    </div>

                    <div class="project-button">
                        <button id="btn-confirm" type="submit">Confirm</button>
                        <button type="submit" class="close">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {

            $('#datatable').DataTable({
                scrollX: true
            });

            $(".Msg").fadeTo(2000, 500).slideUp(500, function () {
                $(".Msg").slideUp(500);
            });

            $(".btn-delete").on("click", function () {
                var passedID = $(this).data('id');
                console.log(passedID);
                $(".project-content .hiddenid").val(passedID);
            });
        });

        let modalView = [...document.querySelectorAll(".btn-view")];
        modalView.forEach(function (btn) {
            btn.onclick = function () {
                let modal = btn.getAttribute("data-modal");
                document.getElementById(modal).style.display = "block";
            };
        });

        let modalDelete = [...document.querySelectorAll(".btn-delete")];
        modalDelete.forEach(function (btn) {
            btn.onclick = function () {
                let modal = btn.getAttribute("data-modal");
                document.getElementById(modal).style.display = "block";
            };
        });

        $('.close').on("click", function (e) {
            e.preventDefault();
            //perform the url load  then
            $('.modal').modal('hide');

            return false;
        })

    </script>
