@model ProjectPool.Models.SignUpModel

@{

    ViewBag.Title = "Create your account for free | ProjectPooL.";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <!-- Icon -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- CSS-->
   @* <link rel="stylesheet" href="~/css/NavRegister.css">*@
    <link rel="stylesheet" href="~/css/Account.css">
    <!-- Script-->



    <style>
        .card {
            margin: 1rem;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            /*border-radius: .25rem;*/
        }

        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 55px 40px;
            background-color: white;
            border-radius: .4rem;
            margin: 20px;
            max-width: 300px;
            box-shadow: 0px 30px 40px -20px #a3a5ae;
            transition: 0.3s ease;
        }

        #usertype{
            margin-top: 100px;
        
        }

        .user-card{
            display: flex;
            justify-content:center;
        }

        .box-red {
            border-top: 3px solid #ea5353;
        }

        .box-blue {
            border-top: 3px solid #549ef2;
        }

        .user-card a{
            text-decoration: none;
            color: black;
        }

        .user-card span {
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 10px;
            display: inline-block;
        }

        .card-body:hover {
            background-color: #f4f7f787;
            transform: translateY(-7px);
        }
        
    </style>
</head>

<body>
    @*<header>
        <p>ProjectPooL.</p>
        <nav>
            <ul class="nav-title">
                <li><a href="Overview">Overview</a></li>
                <li><a href="ProjectList">Projects</a></li>
                <li><a href="ContractorList">Contractor</a></li>
            </ul>
        </nav>
        <div class="account">
            <a href="Login"><span>Log In</span></a>
            <a class="cta" href="SignUp"><button>Sign Up now</button></a>
        </div>
    </header>*@

    <section id="usertype">
        <div class="row gutters-sm user-card">
            <div class="col-md-6 mb-3">
                <a class="btn-ut" href="#" onclick="showRegister(2)">
                    <div class="card">
                        <div class="card-body box-red m-2">
                            <div class="d-flex flex-column">
                                <p><span>I'm an <br />Employer, </span><br />who are hiring for a project.</p>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>

            <div class="col-md-6 mb-3">
                <a class="btn-ut" href="#" onclick="showRegister(3)">
                    <div class="card">
                        <div class="card-body box-blue m-2">
                            <div class="d-flex flex-column">
                                <p><span>I'm a <br />Student/Freelancer, </span><br />who are looking for project.</p>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>

    </section>

    <section id="signup">
        <div class="container" id="container">
            <div class="form-container account-container">
                <form method="post" asp-action="SignUp" asp-controller="Account">
                    <h1>Create Your Account</h1>
 
                    <p id="sub-title"></p>


                    @Html.ValidationSummary(true)
                    <input hidden id="typeID" asp-for="UserTypeID" value="" />
                    <div class="form-group">
                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                        <br /><span hidden class="validation" id="validation-1">This field is required.</span>
                    </div>
                    <div class="form-group">
                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                        <br /><span hidden class="validation" id="validation-2">This field is required.</span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation" })*@
                        <p id="Status"></p>
                        <br /><span hidden class="validation" id="validation-3">This field is required.</span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <br /><span hidden class="validation" id="validation-4">This field is required.</span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <br /><span hidden class="validation" id="validation-5">This field is required.</span>
                    </div>
                    <br />
                    <button id="btn-signup" @*asp-controller="Account" asp-action="SignUp"*@>Sign Up</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="login" onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <script>
        var valid;

        function checkUser() {

            $("#Status").html("Checking...");
            var email = $("#Email").val();
            var regex = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i

            if (email != null || email != "") {
                if (!regex.test(email)) {
                    //invalid
                    console.log("invalid");
                    $('#Status').removeAttr('hidden');
                    $("#Status").html('<font color="Red">Email is invalid!</font>');
                }
                else {
                    $.post("@Url.Action("IsUserExist", "Account")",
                        {
                            email: email
                        },
                        function (data) {
                            if (data == 0) {
                                $('#Status').removeAttr('hidden');
                                $("#Status").html('<font color="Green">Email Available!</font>');
                                valid = true;
                            }
                            else if (data == 2) {
                                $('#validation-3').removeAttr('hidden');
                                $('#Status').prop('hidden', 'hidden');
                                valid = false;
                            }
                            else {
                                $('#Status').removeAttr('hidden');
                                $("#Status").html('<font color="Red">Email Taken! Try Another.</font>');
                                valid = false;
                            }
                        }
                    )
                }
            }
            else {
                $('#validation-3').removeAttr('hidden');
            }
        }

        function comparePass() {
            var pass = $("#Password").val();
            var conPass = $("#ConfirmPassword").val();
            if (pass != conPass) {
                $('#validation-5').removeAttr('hidden');
                $("#validation-5").html('<font color="Red">Password does not match!</font>')
            }
            else {
                $('#validation-5').prop('hidden', 'hidden');
            }


        }

        function showRegister(id) {
            $('input[type="text"]').val('');
            $('.validation').prop('hidden', 'hidden');
            if (id == 2) {
                $('.box-blue').prop('hidden', 'hidden');
            }
            else if (id == 3) {
                $('.box-red').prop('hidden', 'hidden');
            }
            $("#signup").show();
            console.log(id);
            $("#typeID").val(id);
            console.log("val:"+$("#typeID").val());

        }

        $(document).ready(function () {
            $("#signup").hide();



            $(".btn-ut").on("click", function (e) {
                e.preventDefault();
                //showRegister();
                $('html, body').animate({
                    scrollTop: $("#signup").offset().top
                }, 500, function () {
                    $("#FirstName").focus();
                });


            });



            $("#Email").change(function () {
                checkUser();
            });

            $("#Password").change(function () {
                comparePass();
            });

            $("#ConfirmPassword").change(function () {
                comparePass();
            });



            $('#btn-signup').click(function () {
                var value = $("#Email").val();
                var regex = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i

                if (!$('#FirstName').val()) {
                    $('#validation-1').removeAttr('hidden');
                }
                if (!$('#LastName').val()) {
                    $('#validation-2').removeAttr('hidden');
                }
                if (!$('#Email').val()) {
                    $('#validation-3').removeAttr('hidden');
                }
                if (!$('#Password').val()) {
                    $('#validation-4').removeAttr('hidden');
                }
                if (!$('#ConfirmPassword').val()) {
                    $('#validation-5').removeAttr('hidden');
                }
                //if (!regex.test(value)) {
                //    $('#validation-3').removeAttr('hidden');
                //    $("#validation-3").html("Email is invalid!");
                //}

                if ($.trim($("#FirstName").val()) === "" || $.trim($("#LastName").val()) === ""
                    || $.trim($("#Email").val()) === "" || $.trim($("#ConfirmPassword").val()) === ""
                    || valid == false || (!regex.test(value))) {
                    return false;
                }
                @*else {

                    $.ajax({
                        url: "@Url.Action("SignUp", "Account")",
                        type: "POST",
                        data: {
                            UserTypeID: $("#typeID").val(),
                            FirstName: $("#FirstName").val(),
                            LastName: $("#LastName").val(),
                            Email: $("#Email").val(),
                            Password: $("#Password").val(),
                            ConfirmPassword: $("#ConfirmPassword").val(),
                        },
                        success: function (result) {
                            //if (result.redirectUrl !== undefined) {
                                window.location = result.redirectUrl;
                            //}
                            //var url = "@Url.Action("Login", "Account")";
                            //window.location.href = url;
                        }
                    });
                }*@

            });

            $("#FirstName").change(function () {
                if (!$('#FirstName').val()) {
                    $('#validation-1').removeAttr('hidden');
                }
                $('#validation-1').prop('hidden', 'hidden');
            });
            $("#LastName").change(function () {
                if (!$('#FromTime').val()) {
                    $('#validation-2').removeAttr('hidden');
                }
                $('#validation-2').prop('hidden', 'hidden');
            });
            $("#Email").change(function () {
                if (!$('#Email').val()) {
                    $('#validation-3').removeAttr('hidden');
                }
                $('#validation-3').prop('hidden', 'hidden');
            });
            $("#Password").keypress(function () {
                if (!$('#Password').val()) {
                    $('#validation-4').removeAttr('hidden');
                }
                $('#validation-4').prop('hidden', 'hidden');
            });
            $("#ConfirmPassword").keypress(function () {
                if (!$('#ConfirmPassword').val()) {
                    $('#validation-5').removeAttr('hidden');
                }
                $('#validation-5').prop('hidden', 'hidden');
            });
        });


    </script>
</body>


